.forms {
    display: none;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    text-decoration: none;
}

#buttons{
    max-width: 280px;
    margin: 30px auto;
    padding: 16px;
}

.forms{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.forms h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: 10px auto;
}

#info{
    display: none;
    max-width: 400px;
    background: #43D1AF;
    padding: 20px 0;
    font-size: 100%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: 10px auto;
}

.forms input[type="text"],
.forms input[type="password"],
.forms textarea,
.forms select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.forms input[type="text"]:focus,
.forms input[type="password"]:focus,
.forms textarea:focus,
.forms select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.forms input[type="submit"],
.forms input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
.forms input[type="submit"]:hover,
.forms input[type="button"]:hover{
    background: #2EBC99;
}

#gameStage {
    display: block;
    padding: 0;
    position: fixed;
    border: 0px;
    left:   0%;
    top:    0%;
    /*margin: 0 auto;*/
    margin: auto;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

/*@media(max-width:1280px) {

    #gameStage {
        width: auto;
        height: auto;
    }
}*/

html,body {
    /*background: url("../images/background2.jpg") no-repeat;*/
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}